* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.progress,
.api,
.no-api,
.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6% 15%;
}

.game {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

hr {
    width: 20%;
}

/* progress-bar */

.progress-bar {
    height: 100%;
    width: 100%;
    border: 2px solid lightgray;
    background: beige;
}

.progress-filling {
    height: 50px;
    border: none;
    background: green;
}

.btn {
    padding: 15px 18px;
    margin: 30px auto auto auto;
    width: 15%;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    color: white;
    background: green;
    cursor: pointer;
}

.btn:hover {
    transition-duration: 0.3s;
    background-color: red;
    transform: translateY(-5px);
}

/* API */

.text {
    display: block;
    text-align: center;
}

input {
    border: none;
    background-color: rgb(232, 233, 232);
    height: 40px;
    width: 45%;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
}

/* GAME */

.cell {
    width: 150px;
    height: 150px;
    margin: 8px 8px;
    border-radius: 15px;
    background-color: brown;
    text-align: center;
    font-size: 120px;
}

#game-text {
    font-size: 25px;
    font-weight: bold;
    margin: -10px auto 25px auto;
}